extends base
mixin objectiveBox(obj)
	p.trigger ▾  #{obj.title}
	.toggle_container
		div
			p #{obj.description}
			.imageUploadForm
				form(id="imageUpload", action="uploadImage", method="post", enctype="multipart/form-data")
					input(type="file", name="imageFile")
					input(type="hidden", name="eventID", value=url)
					input(type="hidden", name="eventTitle", value=title)
					input(type="hidden", name="objectiveID", value=obj._id)
					input(type="submit", value="Ladda upp bild")
			p #{obj.objectiveText}
			.tumbnails
				for img in obj.images
					a(href='/image?imagePath=' + img.url)
						img.thumbnail(src=img.thumbnail, height="50px", width="50px")
				a(href='/uploadTextForm?id=' + obj._id)
					img.thumbnail(src='static/text.png', height="50px", width="50px")

block flow
	h2 #{title}
	p #{description}
	h2 Aktuellt uppdrag
	if (objectives)
			for obj in objectives
				mixin objectiveBox(obj)

				
		
		
	

