extends base
block flow

	h2 Aktuellt uppdrag
	p #{text}
	#imageUploadForm
		form(id="imageUpload", action="uploadImage", method="post", enctype="multipart/form-data")
			label Ladda upp bild
			input(type="file", name="imageFile")
			input(type="hidden", name="eventID", value=url)
			input(type="submit", value="Ladda upp")
	h2 #{title} - #{group}
	p #{description}

